[Ll]ibrary/
.build/
.cache/
.do-not-commit
.idea
.http-cache
.vscode/
build/
demos/**/output_log.txt
demos/intercept.log
demos/last/

build/intercept.log
*.blend1
*.blend1.meta
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
unity-workspace/UpgradeLog.htm


#
*.sdf
*.suo
*.ilk
*.pdb
*.user
FaceUnityPlugin/FaceUnityPlugin/Debug
FaceUnityPlugin/FaceUnityPlugin/Release
FaceUnityPlugin/Debug
FaceUnityPlugin/Release
FaceUnityPlugin/ipch
FaceUnityPlugin/TestFaceUnityPlugin/Debug
FaceUnityPlugin/TestFaceUnityPlugin/Release

*.opensdf
unity-workspace/scores.dat
iBitInstaller.exe

NSISPortable/Data
NSISPortable/App/NSIS/nsiconf.nsh
builds/
